<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
    <div class="sidebar">
        <div class="text-center mb-4 mr-2 heading">
            <img src="./src/new_york.png" alt="" width="200px">
        </div>
        <a href="#home" class="my">Dashboard</a>
        <a href="#services" class="inactive">Articles</a>
        <a href="#clients" class="inactive">Analytics</a>
        <a href="#clients" class="inactive">Messages</a>
        <a href="#clients" class="inactive">Calendar</a>
    </div>

    <div class="mysearch">
        <form action="http://localhost:3000/articles" method="GET">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" class="form-control input" placeholder="Search" name="query" />
            <input type="hidden" value="1" name="page">
            <input type="hidden" value="5" name="limit">
            <button class="button btn" type="submit">Search</button>
        </form>
        <div class="container bmain">
            <p class="body text-center">
                Search for breaking news from across<br>
                the world, across the times
            </p>
            <p class="text-center">
                <img src="./src/man.png" alt="" width="300px">
            </p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>